MPLAB.X/nbproject/private/
MPLAB.X/dist
MPLAB.X/build

build/

*.bak
*.elf
*.eep
*.map
*.sys
*.lss
*.lst
*.o
*.bin
*.out
*.hex
*bak
*.ses
*.dsn
*.pdf
*autosave*
/src/.dep/
/mplab.X/nbproject/private/
/mplab.X/build/default/

MPLAB.X/nbproject/Makefile*

*.step
*.pov
*.emn
*.emp
*.wrl
test/support/out.txt

*.d
*.p1
test/support/simlog.txt

MPLAB.X/MyConfig.mc3
MPLAB.X/mcc_generated_files/
doc/arch.asta
pcb/cad/render.png
pcb/cad/render_pvray.png
pcb/gerber/gpib2usbV2.zip
pcb/gpib_adapter.xml
src_old/.gdbinit
